#tit{
    text-align:center;
    color:rgb(red, green, blue);
}
body {
    height:fit-content;
    background-image: linear-gradient(180deg, rgb(0, 255, 242), rgb(248, 76, 239));
}
.img-container-block {
    text-align: center;
  }
  .img-container-inline {
    text-align: center;
    display: block;
  }
#left {
    text-align: right;
}
